{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Экран проверки</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" type="text/css" href="{% static 'interface/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'interface/css/normalize.css' %}">
    <script src="{% static 'interface/js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="body__control">
    {% block content %}
    <main class="site-main control">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item "><a href="{% url 'interface:digital_camera' %}">Экран оцифровки запчасти</a></li>
                <li class="nav__item"><a href="{% url 'interface:roster_page' %}">Список запчастей</a></li>
                <li class="nav__item current-page"><a href="{% url 'interface:control_page' %}">Экран проверки</a></li>
                <li class="nav__item"><a href="{% url 'user:logout' %}">Выход</a></li>
            </ul>
        </nav>
        <h1 class="visually-hidden">Экран оцифровки запчасти</h1>
        <section class="control__process">
            <div class="control__user process_wrapper">
                <div class="control__user-name">Пользователь: {{ request.user.username }}</div>
                <div class="control__user-task"><a class="button control__button control__user-task-link button-show" href="#">Задание оператору</a></div>
            </div>
            <form class="control_form-article" action="#" method="post">
                {% csrf_token %}
                <fieldset class="control__fieldset-textarea" style="height: 200px; overflow: auto;">
                    <div class="lists-container">
                        <div class="list-container">
                            <h5>Список артикулов</h5>
                            <ol class="article-list">
                                {% for article in matching_articles %}
                                {% if article.article_number not in verified_articles %}
                                    <li class="article-item {% if forloop.first %}selected{% endif %}" data-article="{{ article.article_number }}">
                                        {{ article.article_number }} - {{ article.added_time|date:"d-m-Y H:i" }}
                                    </li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="list-container">
                            <h5>Проверенные артикулы</h5>
                            <ul class="verified-list">
                                {% for verified_article in verified_articles_table %}
                                <li>
                                    {{ verified_article.article_number }} - {{ verified_article.added_time }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="current-point">
                     <p>1. Проверка артикула </p>
                    <div class="process-evenly_wrapper">
                    <button class="button control__button control__button-agree" >совпадает</button>
                    <button class="button control__button control__button-disagree">не совпадает</button>
                    <label class="control__process-input-label-article" for="article"></label>
                    <input class="control__checkbox checkbox-article" type="checkbox" name="done" id="article">
                    </div>
                </fieldset>
                </form>
                <form class="control__process-form-photo" action="#" method="post">
                    <fieldset>
                       <p>2. Качество фотоматериала</p>
                       <div class="process_wrapper">
                        <label class="control__process-input-label-article" for="">2.1. фото артикула</label>
                        <input class="control__checkbox checkbox-article" type="checkbox" name="" id="">
                        <button class="button control__button control__button-disagree">переснять</button>
                       </div>
                       <div class="process_wrapper">
                        <label class="control__process-input-label-article" for="">2.2. лицевая часть</label>
                        <input class="control__checkbox checkbox-article" type="checkbox" name="" id="">
                        <button class="button control__button control__button-disagree">переснять</button>
                       </div>
                       <div class="process_wrapper">
                        <label class="control__process-input-label-article" for="">2.3. тыльная часть</label>
                        <input class="control__checkbox checkbox-article" type="checkbox" name="" id="">
                        <button class="button control__button control__button-disagree">переснять</button>
                       </div>
                       <div class="process_wrapper">
                        <label class="control__process-input-label-article" for="">2.4. доп. фотографии</label>
                        <input class="control__checkbox checkbox-article" type="checkbox" name="" id="">
                        <button class="button control__button control__button-disagree">переснять</button>
                       </div>
                    </fieldset>
                    <fieldset>
                        {% csrf_token %}
                        <div class="process_wrapper">
                        <p>3. Следующая деталь</p>
                        <button class="button control__button control__button-agree good" id="good">Совпадает</button>
                        <div class="button_padding-right">
                        <a class="control__process-back" href="#"><img src="{% static 'interface/img/svg/back.svg' %}" height="45" width="45" alt="back"></a>
                        <a class="control__process-next" href="#"><img src="{% static 'interface/img/svg/next.svg' %}" height="45" width="45" alt="next"></a>
                        </div>
                        </div>
                    </fieldset>
                    <fieldset class="process_wrapper">
                        <p>4. Отчет по проверки</p>
                        <button class="button control__button control__button-finish">Распечатать и отправить<br> Задание оператору </button>
                    </fieldset>
                </form>
        </section>
        <section class="control__camera">
            <form class="control__camera-form" action="#" method="post">
                <p class="control__camera-heading">Экран камеры</p>
                <div class="control_video-wrapper">
                    <div class="control_video-1" id="video-1">
                            <img class="video-image" id="pic-1" src="#" width="320" height="240">
                            <a class="control_video-full-1" href="#" onclick="openFullscreen('video-1', 'pic-1');"><img src="{% static 'interface/img/svg/full_screen.svg' %}" width="40" height="40"></a>
                    </div>
                    <div class="control_video-2" id="video-2">
                        <img class="video-image" id="pic-2" src="#" width="320" height="240">
                        <a class="control_video-full-2" href="#" onclick="openFullscreen('video-2', 'pic-2');"><img  src="{% static 'interface/img/svg/full_screen.svg' %}" width="40" height="40"></a>
                      </div>
                      <div class="control_video-3" id='video-3'>
                        <img class="video-image" id="pic-3" src="#" width="320" height="240">
                        <a class="control_video-full-3" href="#" onclick="openFullscreen('video-3', 'pic-3');"><img  src="{% static 'interface/img/svg/full_screen.svg' %}" width="40" height="40"></a>
                      </div>
                      <div class="control_video-4" id='video-4'>
                        <img class="video-image" id="pic-4" src="#" width="320" height="240">
                        <a class="control_video-full-4" href="#" onclick="openFullscreen('video-4', 'pic-4');"><img  src="{% static 'interface/img/svg/full_screen.svg' %}" width="40" height="40"></a>
                      </div>
                    </div>
            </form>
        </section>
        <section class="modal-page modal-control">
            <form class="control-form" action="#" method="post">
                {% csrf_token %}
              <div class="wrapper-modal">
                <div class="modal_input">
                   <label for="modal-article">Артикул</label>
                   <input class="control-modal-article" type="text" name="modal-article" id="modal-article" placeholder="6RU 987 986 1" autofocus="">
                </div>
                <div class="modal_input">
                    <label for="modal-name">Название</label>
                    <input class="control-modal-name" type="text" name="modal-name" id="modal-name" placeholder="Крыло переднее правое" autofocus="">
                </div>
                <div class="modal_input">
                   <label for="modal-place">Место</label>
                <input class="control-modal-place" type="text" name="modal-place" id="modal-place" placeholder="3с-34-2-1" autofocus="">
                </div>
               </div>
               <div class="button_modal-submit">
                <button class="button" type="submit">Отправить</button>
               </div>
               <a class="modal-close button-hide" type="button" aria-label="Закрыть"></a>
              </form>
          </section>
    </main>

    {% endblock %}
    <script>
    const modalControl = document.querySelector('.modal-control');
    const openModalControl = document.querySelector('.button-show');
    const closeModalControl  = modalControl.querySelector('.button-hide');
    const form = modalControl.querySelector('.control-form');  // Выберите форму


    let isStorageSupport = true;
    let storage = "";

    try {
      storage = localStorage.getItem("modal-article");
    } catch (err) {
      isStorageSupport = false;
    };

    openModalControl.addEventListener('click', function(evt) {
      evt.preventDefault();
      modalControl.classList.add('modal-open');
    });

    closeModalControl.addEventListener('click', function(evt) {
      evt.preventDefault();
      modalControl.classList.remove('modal-open');
    });

    document.addEventListener('keydown', function(evt){
      if (evt.keyCode === 27){
        modalControl.classList.remove('modal-open');
      }
    });
    const inputs = form.querySelectorAll('input');

    inputs.forEach((input, index) => {
      input.addEventListener('keydown', function(evt) {
        if (evt.key === 'Enter') {
          evt.preventDefault();
          if (index < inputs.length - 1) {
            inputs[index + 1].focus(); // Перенос фокуса на следующее поле
          }
        }
      });
    });

    // Добавьте обработчик отправки формы
    form.addEventListener('submit', function(evt) {
      evt.preventDefault();

      const formData = new FormData(form);
      const xhr = new XMLHttpRequest();

      xhr.open('POST', '{% url "interface:save_car_part" %}', true);
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            const response = JSON.parse(xhr.responseText);
            console.log(response.message);  // Можно добавить обработку успешного сообщени
            // Закрытие модального окна и очистка формы
            modalControl.classList.remove('modal-open');
            form.reset();
          } else {
            console.error('Ошибка при сохранении данных.');
          }
        }
      };

      xhr.send(formData);
    });



$(document).ready(function() {
    $(".button.control__button-disagree").click(function(e) {
        e.preventDefault(); // Предотвращает стандартное действие кнопки (отправка формы)

        var selectedArticle = $(".article-item.selected").data("article");
        var csrfToken = getCookie('csrftoken'); // Получаем CSRF-токен

        $.ajax({
            type: 'POST',
            url: '{% url "interface:delete_matching_article" %}',  // Замените на правильный URL
            data: { article: selectedArticle },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrfToken); // Добавляем CSRF-токен в заголовок
            },
            success: function(response) {
                if (response.success) {
                    // Успешно удалено из модели MatchingArticle
                    // Теперь обновите таблицу или другие элементы на странице по необходимости
                }
            },
            error: function() {
                // Обработка ошибок
            }
        });
    });
});
    document.addEventListener("DOMContentLoaded", function () {
    const articleList = document.querySelector(".article-list");
    const verifiedListContainer = document.querySelector(".verified-list");
    const goodButton = document.getElementById("good");

    goodButton.addEventListener("click", async function (event) {
        event.preventDefault();
        const selectedArticleItem = articleList.querySelector(".article-item.selected");
        if (selectedArticleItem) {
            const articleNumber = selectedArticleItem.getAttribute("data-article");
            const response = await fetch('{% url "interface:control_page" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `article_number=${articleNumber}`
            });
            if (response.ok) {
                // Скрыть элемент списка и добавить в список проверенных
                selectedArticleItem.hidden = true;
                const matchingArticle = matchingArticles.find(article => article.article_number === articleNumber);
                const newItem = document.createElement("li");
                newItem.textContent = `${matchingArticle.article_number} - ${matchingArticle.added_time}`;
                verifiedListContainer.appendChild(newItem);
            }
        }

        const verifiedArticleNumbers = Array.from(verifiedListContainer.querySelectorAll("li")).map(item => item.textContent.split(" - ")[0]);
        matchingArticles.forEach(matchingArticle => {
            if (verifiedArticleNumbers.includes(matchingArticle.article_number)) {
                const matchingItem = articleList.querySelector(`[data-article="${matchingArticle.article_number}"]`);
                if (matchingItem) {
                    matchingItem.hidden = true;
                }
            }
        });
    });
   $(document).ready(function() {
      $(".article-item").first().addClass("selected");
      const articleItems = $(".article-item");
      let currentIndex = 0;

      function updateCurrentArticle() {
        articleItems.removeClass("selected");
        articleItems.eq(currentIndex).addClass("selected");
      }

      $(".control__process-back").click(function(event) {
        event.preventDefault();
        if (currentIndex > 0) {
          currentIndex--;
          updateCurrentArticle();
        }
      });

      $(".control__process-next").click(function(event) {
        event.preventDefault();
        if (currentIndex < articleItems.length - 1) {
          currentIndex++;
          updateCurrentArticle();
        }
      });
      $("ol li").click(function() {
        var article = $(this).text().split(' - ')[0].trim();
        $.ajax({
          url: "{% url 'interface:get_photos_by_article' %}",
          type: "GET",
          data: { article_number: article },
          dataType: "json",
          success: function(response) {
            // Обновляем блоки с фотографиями
            loadPhotosForArticle(response.photos, article);
          },
          error: function(xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
          }
        });
      });
   });

function loadPhotosForArticle(photos, article) {
  loadRandomPhotoByLetter(photos, "article", "video-1");
  loadRandomPhotoByLetter(photos, "Front", "video-2");
  loadRandomPhotoByLetter(photos, "Rear", "video-3");
  loadRandomPhotoByLetter(photos, "Other", "video-4");
}

function loadRandomPhotoByLetter(photos, letter, blockId) {
  let suitablePhotos = [];
  for (let i = 0; i < photos.length; i++) {
    if (photos[i].includes(letter)) {
      suitablePhotos.push(photos[i]);
    }
  }

  if (suitablePhotos.length > 0) {
    const randomIndex = Math.floor(Math.random() * suitablePhotos.length);
    const randomPhotoUrl = suitablePhotos[randomIndex];

    // Установка атрибута src для изображения
    $("#" + blockId + " .video-image").attr("src", randomPhotoUrl);
  } else {
    console.log(`No suitable photo found for ${letter}`);
  }
}

});

// Функция для получения CSRF-токена
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
// Функция для получения CSRF-токена
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function openFullscreen(videoId, imgId) {
    var elem = document.getElementById(videoId);
    var img = document.getElementById(imgId);

    if (elem.requestFullscreen) {
        elem.requestFullscreen().then(function () {
            elem.style.width = '100%';
            elem.style.height = '100%';
            img.style.width = '100%';
            img.style.height = '100%';
        });
    } else if (elem.mozRequestFullScreen) { // Firefox
        elem.mozRequestFullScreen().then(function () {
            elem.style.width = '100%';
            elem.style.height = '100%';
            img.style.width = '100%';
            img.style.height = '100%';
        });
    } else if (elem.webkitRequestFullscreen) { // Chrome, Safari и Opera
        elem.webkitRequestFullscreen().then(function () {
            elem.style.width = '100%';
            elem.style.height = '100%';
            img.style.width = '100%';
            img.style.height = '100%';
        });
    } else if (elem.msRequestFullscreen) { // IE/Edge
        elem.msRequestFullscreen().then(function () {
            elem.style.width = '100%';
            elem.style.height = '100%';
            img.style.width = '100%';
            img.style.height = '100%';
        });
    }
}

document.addEventListener("fullscreenchange", function () {
    var elem = document.fullscreenElement;
    if (!elem) {
        var videoFrames = document.querySelectorAll(".video-frame");
        videoFrames.forEach(function (frame) {
            frame.style.width = '320px';
            frame.style.height = '240px';
        });

        var images = document.querySelectorAll(".video-image");
        images.forEach(function (img) {
            img.style.width = '320px';
            img.style.height = '240px';
        });

        var fullscreenIcons = document.querySelectorAll(".control_video-wrapper a");
        fullscreenIcons.forEach(function (icon) {
            icon.firstChild.width = 40;
            icon.firstChild.height = 40;
        });
    }

});
</script>


</body>
</html>
