{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список запчастей</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" type="text/css" href="{% static 'interface/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'interface/css/normalize.css' %}">
    <script src="{% static 'interface/js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="body__roster">
    {% block content %}
    <main class="site-main roster">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item "><a href="{% url 'interface:digital_camera' %}">Экран оцифровки запчасти</a></li>
                <li class="nav__item current-page"><a href="#">Список запчастей</a></li>
                <li class="nav__item"><a href="{% url 'interface:control_page' %}">Экран проверки</a></li>
                <li class="nav__item"><a href="{% url 'user:logout' %}">Выход</a></li>
            </ul>
        </nav>
        <div class="roster-wrapper">
        <h1 class="visually-hidden">Экран оцифровки запчасти</h1>
        <section class="roster__process">
            <div class="roster__user process_wrapper">
                <div class="roster__user-name">Пользователь: Иванов ИИ</div>
                <div class="roster__user-task"><a class="button roster__button" href="#">Задание оператору</a></div>
                <div>На дату:<input type="date"> </div>
            </div>
            <div class="process_wrapper">
                <button class="button roster__button">Список запчастей для оцифровки</button>
                <button class="button roster__button">Распечатать</button>
            </div>
        </section>
        <section class="roster__table">
          <table class="table" width="100%" border="1" cellspacing="0" cellpadding="4">
            <thead>
                <tr class="table__row">
                    <th class="table__header">№</th>
                    <th class="table__header">1. Артикул</th>
                    <th class="table__header">2. Название</th>
                    <th class="table__header">3. Место</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table__row">
                    <td class="table__data">1</td>
                    <td class="table__data"></td>
                    <td class="table__data"></td>
                    <td class="table__data"></td>
                </tr>
                <tr class="table__row">
                    <td class="table__data">2</td>
                    <td class="table__data"></td>
                    <td class="table__data"></td>
                    <td class="table__data"></td>
                </tr>
                <tr class="table__row">
                    <td class="table__data">3</td>
                    <td class="table__data"></td>
                    <td class="table__data"></td>
                    <td class="table__data"></td>
                </tr>
            </tbody>
        </table>
        </section>
        </div>
    </main>
    {% endblock %}
</body>    